      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Home</a>
        </li>
        <li class="breadcrumb-item active"> Contratos</li>
      </ol>

      <!-- DataTables Example -->
      <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-file-alt"></i>
            Contratos<a class="btn btn-primary btn-icon-text" routerLink="/contratos/form_contrato" type="button" style="float:right;"><i class="fas fa-plus"></i> Agregar</a></div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" #dataTable width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Tipo</th>
                    <th>Fecha Alta</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>CI</th>
                    <th>Cargo</th>
                    <th>Centro</th>
                    <th>Acciones</th>
                  </tr>
                </thead>                
                <tbody>
                  <tr *ngFor="let contrato of contratos">
                    <td>{{ contrato.codigo_contrato }}</td>
                    <td>{{ contrato.tipo_contrato }}</td>
                    <td>{{ contrato.fecha_alta }}</td>
                    <td>{{ contrato.trabajador.first_name }}</td>
                    <td>{{ contrato.trabajador.last_name }}</td>
                    <td>{{ contrato.trabajador.ci }}</td>
                    <td>{{ contrato.cargo.nombre_cargo }}</td>
                    <td>{{ contrato.centro.nombre_centro }}</td>
                    <td>                      
                      <button class="btn btn-primary btn-icon" type="button" routerLink="/contratos/form_contrato/{{contrato.id}}"><i class="fas fa-edit"></i></button>
                      <button class="btn btn-danger btn-icon ml-1" type="button" (click)="delete(contrato.id)"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Actualizado {{date | date: 'dd/MM/yyyy h:mm:ss a'}}</div>
        </div>