<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header"><i class="fas fa-home"></i> Por favor inicie Sesión</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputuser" class="form-control" placeholder="Usuario" required="required" autofocus="autofocus">
              <label for="inputuser"><i class="fas fa-user"></i> Usuario</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="required">
              <label for="inputPassword"><i class="fas fa-lock"></i> Contraseña</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Recordar Contraseña
              </label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" routerLink="/home">Ingresar</a>
        </form>
      </div>
    </div>
  </div>


  