      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Home</a>
        </li>
        <li class="breadcrumb-item active"> Unidades Militares</li>
      </ol>

      <!-- DataTables Example -->
      <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-user-shield"></i>
            Unidades Militares<a class="btn btn-primary btn-icon-text" routerLink="/unidadmilitar/form_unidad" type="button" style="float:right;"><i class="fas fa-plus"></i> Agregar</a></div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" #dataTable width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Nombre Unidad</th>
                    <th>Fecha Alta</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Codigo</th>
                    <th>Nombre Unidad</th>
                    <th>Fecha Alta</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let unidad of unidades">
                        <td>{{ unidad.id }}</td>
                        <td>{{ unidad.nombre_unidad }}</td>
                        <td>{{ unidad.fecha_alta }}</td>
                        <td>
                          <button class="btn btn-primary btn-icon" type="button" routerLink="/unidadmilitar/form_unidad/{{unidad.id}}"><i class="fas fa-edit"></i></button>
                          <button class="btn btn-danger btn-icon ml-1" type="button" (click)="delete(unidad.id)"><i class="fas fa-trash"></i></button>
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Actualizado {{date | date: 'dd/MM/yyyy h:mm:ss a'}}</div>
        </div>