<h3><i class="fas fa-university"></i> Nuevo Centro</h3>
<hr>
  <div class="row">
    <div class="col-md-8 offset-2">
      <div method="POST">
        <div class="form-row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="form-label-group">
                <input [(ngModel)]="centro.codigo" type="text" id="inputCodigoCentro" class="form-control" placeholder="Codigo del Centro" autofocus="autofocus">
                 <label for="inputCodigoCentro"> Codigo del Centro</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-8">
            <div class="form-group">
              <div class="form-label-group">
                <input [(ngModel)]="centro.nombre_centro" type="text" id="inputNombreCentro" class="form-control" placeholder="Nombre del Centro" autofocus="autofocus">
                <label for="inputNombreCentro"> Nombre del Centro</label>
              </div>
            </div>
            <button class="btn btn-primary" (click)="saveCentro()"><i class="fas fa-plus"></i> Guardar</button><button class="btn btn-secondary" type="button" style="float: right;">Cancelar</button>
          </div>           
        </div>  
      </div>
    </div>
  </div>